form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5em;
  align-items: center;
}

.input-group {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding-bottom: 20px;
}
.input-group textarea {
  height: 150px;
}

.input-button {
  width: 400px;
}

.input-button button {
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid gray;
}
